* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #28284d;
}

header {
  background-color: #1c2431;
  background: url(../images/bg-curvy-mobile.svg) no-repeat bottom;
  background-size: 100% 60%;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 2rem 0 2rem;
}

header .menu img {
  width: 5rem;
  opacity: 0.7;
}

header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

header .menu ul a {
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  color: white;
  opacity: 0.5;
}

header .menu ul a:hover {
  opacity: 1;
}

header .section-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

@media screen and (min-width: 580px) {
  header .section-intro {
    margin: 0 4rem;
  }
}

header .section-intro img {
  width: 75%;
  margin-top: 1.8rem;
}

@media screen and (min-width: 580px) {
  header .section-intro img {
    width: 60%;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 830px) {
  header .section-intro img {
    width: 50%;
    margin-bottom: 2rem;
  }
}

header .section-intro h1 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  text-overflow: ellipsis;
  line-height: 2rem;
  margin: 0.9rem 2rem;
  color: white;
  opacity: 0.9;
}

@media screen and (min-width: 830px) {
  header .section-intro h1 {
    width: 50%;
  }
}

header .section-intro p {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  margin: 0.7rem 1.5rem;
  line-height: 1.2rem;
  color: white;
  opacity: 0.65;
}

@media screen and (min-width: 580px) {
  header .section-intro p {
    margin: 1rem 2.5rem;
  }
}

@media screen and (min-width: 830px) {
  header .section-intro p {
    width: 50%;
  }
}

header .section-intro button {
  width: 50%;
  height: 2.5rem;
  margin-top: 1rem;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

header .section-intro button:hover {
  background: #65e2d9;
}

@media screen and (min-width: 830px) {
  header .section-intro button {
    width: 25%;
  }
}

main {
  background-color: #181f2a;
  font-family: "Open Sans", sans-serif;
  color: white;
  letter-spacing: 0.025rem;
}

main .section-article {
  text-align: center;
  padding-top: 5rem;
}

main .section-article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2rem;
}

@media screen and (min-width: 580px) {
  main .section-article div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 830px) {
  main .section-article div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1060px) {
  main .section-article div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

main .section-article div article {
  margin: 1.4rem 0 1.4rem 0;
}

@media screen and (min-width: 1060px) {
  main .section-article div article {
    padding: 0 4rem;
  }
}

main .section-article div article img {
  height: 3rem;
}

main .section-article div article h2 {
  opacity: 0.8;
  font-size: 1.1rem;
  margin: 1.4rem 0 1.4rem 0;
}

main .section-article div article p {
  font-size: 0.7rem;
  opacity: 0.5;
  font-weight: 400;
  line-height: 0.9rem;
  padding: 0 3rem;
}

@media screen and (min-width: 1060px) {
  main .section-article div article p {
    padding: 0 5rem;
    text-align: center;
  }
}

main .section-productive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.2rem;
  padding: 0 2.1rem;
  letter-spacing: 0.025rem;
}

@media screen and (min-width: 580px) {
  main .section-productive {
    margin: 1rem 4.5rem;
    text-align: justify;
  }
}

@media screen and (min-width: 830px) {
  main .section-productive {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main .section-productive img {
  width: 75%;
  text-align: center;
}

@media screen and (min-width: 830px) {
  main .section-productive img {
    width: 50%;
  }
}

main .section-productive div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 1060px) {
  main .section-productive div .article-text {
    padding: 1rem 4rem;
  }
}

main .section-productive div .article-text h2 {
  opacity: 0.8;
  font-size: 1rem;
  padding-bottom: 1rem;
}

main .section-productive div .article-text p {
  font-size: 0.7rem;
  opacity: 0.5;
  line-height: 0.9rem;
}

main .section-productive div .article-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.9;
}

@media screen and (min-width: 1060px) {
  main .section-productive div .article-link {
    padding: 0 4rem;
  }
}

main .section-productive div .article-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2rem;
  color: #65e2d9;
  font-size: 0.7rem;
  border-bottom: 1px solid #65e2d9;
  padding-bottom: 0.3rem;
}

main .section-productive div .article-link a:hover {
  color: white;
}

main .section-productive div .article-link img {
  width: 1rem;
}

main .section-comments {
  margin-top: 4rem;
  margin-bottom: 6rem;
  padding: 5rem 2.1rem;
}

@media screen and (min-width: 580px) {
  main .section-comments {
    margin: 4rem 4.5rem 6rem 4.5rem;
  }
}

@media screen and (min-width: 830px) {
  main .section-comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5rem 0.5rem;
  }
}

main .section-comments .img-quotes {
  width: 1.5rem;
  height: 1.5rem;
}

main .section-comments article {
  background-color: #202a3c;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 830px) {
  main .section-comments article {
    margin: 1rem 1.5rem;
  }
}

main .section-comments article p {
  font-size: 0.7rem;
  opacity: 0.6;
  padding: 1.2rem;
}

main .section-comments article .caixa-profile {
  padding: 0 1.2rem 1.2rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.6rem;
}

main .section-comments article .caixa-profile img {
  width: 1.5rem;
  border-radius: 50%;
}

main .section-comments article .caixa-profile div {
  opacity: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .section-comments article .caixa-profile div h4 {
  font-size: 0.6rem;
}

main .section-comments article .caixa-profile div sub {
  font-size: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #28284d;
}

footer {
  background-color: #0b1523;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6rem 1.6rem 2.5rem 1.6rem;
  color: white;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

footer .section-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1c2431;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 2.1rem;
  margin: 0 1rem 1.8rem 1rem;
  text-align: center;
  gap: 1.1rem;
  position: absolute;
  z-index: 1;
  bottom: 46rem;
}

@media screen and (min-width: 580px) {
  footer .section-email {
    margin: 0 4.5rem 1rem 4.5rem;
  }
}

@media screen and (min-width: 830px) {
  footer .section-email {
    width: 70%;
    bottom: 29rem;
  }
}

@media screen and (min-width: 1060px) {
  footer .section-email {
    width: 50%;
    bottom: 24rem;
  }
}

footer .section-email h3 {
  font-size: 1.1rem;
  opacity: 0.9;
}

footer .section-email p {
  font-size: 0.75rem;
  opacity: 0.8;
  line-height: 1.1rem;
}

footer .section-email article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9rem;
}

@media screen and (min-width: 830px) {
  footer .section-email article {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .section-email article span {
  display: none;
}

footer .section-email article span.show {
  display: block;
}

footer .section-email article input {
  padding: 0.9rem;
  border: none;
  border-radius: 25px;
  background-color: white;
  font-size: 0.6rem;
  opacity: 2;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

footer .section-email article button {
  padding: 0.9rem;
  border: none;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9, #339ecc);
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
}

footer .section-email article button:hover {
  background: #65e2d9;
}

footer .img-logo {
  width: 12rem;
  padding-left: 2.4rem;
  padding-bottom: 2rem;
  padding: 15rem 0 2rem 2.4rem;
}

@media screen and (min-width: 830px) {
  footer .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .container-footer .section-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2.7rem;
  padding-bottom: 2.5rem;
  gap: 1.1rem;
  font-size: 0.8rem;
}

@media screen and (min-width: 1060px) {
  footer .container-footer .section-map {
    padding-bottom: 0;
    margin: 0;
    padding-left: 2.4rem;
  }
}

footer .container-footer .section-map article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.1rem;
}

footer .container-footer .section-map article img {
  width: 1rem;
  height: 1rem;
  vertical-align: center;
  opacity: 0.9;
}

footer .container-footer .section-map article a {
  opacity: 0.7;
  color: white;
  text-align: start;
}

footer .container-footer .section-map article a:hover {
  opacity: 1;
}

footer .container-footer .section-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-left: 2.7rem;
}

@media screen and (min-width: 830px) {
  footer .container-footer .section-contact {
    vertical-align: baseline;
  }
}

footer .container-footer .section-contact article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

footer .container-footer .section-contact article img {
  width: 1rem;
  height: 1rem;
  vertical-align: center;
  opacity: 0.9;
}

footer .container-footer .section-contact article a {
  opacity: 0.7;
  color: white;
}

footer .container-footer .section-contact article a:hover {
  opacity: 1;
}

footer .container-footer .section-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin: 2rem 2.7rem;
}

@media screen and (min-width: 830px) {
  footer .container-footer .section-about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 2rem;
  }
}

footer .container-footer .section-about ul li a {
  color: white;
  opacity: 0.7;
  font-size: 0.8rem;
}

footer .container-footer .section-about ul li a:hover {
  opacity: 1;
}

footer .container-footer .section-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.4rem;
}

footer .container-footer .section-social-media a img {
  width: 1.8rem;
  opacity: 1;
}

footer .container-footer .section-social-media a img:hover {
  width: 2rem;
  background-color: white;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */